@model List<Event>
@{
    ViewData["Title"] = "Index";
}

<!-- EVENT SECTION START -->
<section id="events">
    <div class="container">
        <div class="row">

            @foreach (var events in Model) 
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card first">
                        <div class="item">
                            <div class="img">
                                <a asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id"><img src="~/img/@events.Image" alt="" /></a>
                            </div>
                            <div class="text"> 
                                <h4>
                                    <a asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id"> @events.Title</a>
                                </h4>
                                <p>
                                    @events.Description
                                </p>
                                <div class="post-date text-center">@events.Time.ToString("dd MMMM yyyy") </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- EVENT SECTION END -->

