 
@model ProductVM 


 <!-- PRODUCT SECTION START -->
<div id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h5>
                        Dərnəyimiz, öz emalatxanaları ilə uşaqlarımızın, gənclərimizin
                        pis vərdişlərindən təmizlənmə və həyata tutunma müddətini
                        dəstəkləyir. Gənclərimiz mütəxəssis təlimçilərdən aldıqları
                        təlimlə hər keçən gün gözəl məhsullar yaradırlar. Bu işdə əsas
                        məqsədimiz gənclərimizin cəmiyyətə uyğunlaşma prosesində
                        özlərinə və gələcəyə daha inamlı və ümidli olmalarını təmin
                        etməkdir. Beləliklə, gənclərimiz həm iş imkanı qazanır, həm də
                        məşğulluğa töhfə verirlər.
                    </h5>
                </div>
            </div>
        </div>


        <div class="row pt-5">
            <div class="col-12 d-flex justify-content-between head"> 
                <ul class="category-mobile d-md-none list-unstyled">
                    <li>
                        <a href="" class="categories mr-2">Categories</a>
                        <i class="fas fa-caret-down"></i>
                        <ul class="category list-unstyled" style="display: none;">
                            <li><a href="" data-id="all">Bütün məhsullar</a></li>
                            @foreach (Category cat in Model.Categories)
                            {
                                <li><a href="" data-id="@cat.Name.ToLower()">@cat.Name.ToUpper()</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="category d-none d-md-flex list-unstyled">
                    <li><a href="" data-id="all">Bütün məhsullar</a></li>
                    @foreach (Category cat in Model.Categories)
                    {
                        <li><a href="" data-id="@cat.Name.ToLower()">@cat.Name.ToUpper()</a></li>
                    }
                </ul>
               
            </div>
        </div>
        <div class="row" id="product-list">
            @foreach (Product pro in Model.Products) 
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3 ">
                    <div class="product-item text-center card" data-id="@pro.Category.Name.ToLower()">
                        <div class="img">
                            <a href="">
                                <img style=" height: 190px; width: 286px;" src="~/img/@pro.Image" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title2 my-2">
                            <h6 style=" color: #e27d60; font-size: 20px; text-align: center;">@pro.Name.ToUpper()</h6>
                        </div>
                        <div class="price">
                            <span style=" display: block; margin-bottom: 15px;" class="text-black-50 add-basket">
                                <input type="hidden" value="@pro.Id" />
                                <a style="text-decoration: none; font-weight: 600; font-size: 20px; color: #111111;" href="#">Səbətə əlavə edin</a>
                            </span>
                            <span style=" display: block; margin-bottom: 15px;" class="text-black-50">Qiymət: @pro.Price AZN</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->